<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <a href="http://glyco.innovation.com.mk/" target="_blank">
                <div class="col-sm-6 col-md-3 text-center item"><img src="static/img/rsz_favicon2.png"></div>
            </a>
            <a href="https://www.viewecg.com/" target="_blank">
                <div class="col-sm-6 col-md-3 text-center item"><img src="static/img/rsz_viewecg.png"></div>
            </a>
            <div class="col-md-6 text-right item text">
                <h3><br>Innovation DOOEL<br></h3>
                <p>Vostanicka, 118-1<br>Skopje, 1000, Republic of North Macedonia<br>Phone: +389-2-310-9757<br>Email: contact@innovation.com.mk</p>
                <p class="text-right copyright">© 2020</p>
            </div>
        </div>
    </div>
</footer>