<nav class="navbar navbar-light navbar-expand-md clean-navbar">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="/"><img src="static/img/logo.png" style="width: 87px;">Innovation</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link {{'active' if active_page == 'home' }}" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link {{'active' if active_page == 'upload' }}" href="/upload">UPLOAD ECG</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link {{'active' if active_page == 'uploadedf' }}" href="/uploadedf">UPLOAD EDF</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link {{'active' if active_page == 'viewer' }}" href="/viewer">VIEWER</a></li>
            </ul>
        </div>
    </div>
</nav>